/problem
/tests
/videos
/reports
/media

/.vifm*

*.backup
*.gch
!*.gitkeep

.bunches/*
!.bunches/coalescence
!.bunches/uk
!.bunches/contact_angle
!.bunches/convergence_space
!.bunches/convergence_time
!.bunches/convergence_space_pilots
!.bunches/convergence_time_pilots
!.bunches/cube_textured

__pycache__

Session.vim
